@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.anchor-link {
    text-decoration: none !important;
}

.subnav-anchor {
    margin-top: -84px;
    width: 1px;
}
